caption, .table-caption {
  margin: auto;
  text-align: left;
}

figure.quarto-float-tbl figcaption.quarto-float-caption-top {
  text-align: left;
  margin: auto;
}

/* works for figure caption alignment as intended */
/*figcaption {
/*  margin: auto;
/*  text-align: left;
/*}
